{{ define "main" }}
    <h4>Featured Posts</h4>
    <div class="row" id="postContainer">
         
        {{ $featuredPosts := where .Site.RegularPages "Params.tags" "intersect" (slice "Featured") }}    
        {{ range $featuredPosts}}
        
        <div class="col-sm-12 col-md-6 col-lg-4" id="postContent">
            <a href={{absURL .Params.Url}} style="text-decoration: none;">
                <div class="card text imagebox" style="border: none;">
                    {{ $altText := .Params.Description}}
                    {{ with resources.GetMatch .Params.Thumbnail}}
                        <img src="{{.Permalink}}" class="img" alt="{{$altText}}">
                    {{end}}
                    <p class="caption"> {{.Params.ListTitle}} </p>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
    <h4>Prints for Sale</h4>
    <div class="row" id="postContainer">
        {{ $prints := where .Site.RegularPages "Params.tags" "intersect" (slice "Prints for sale") }}
        {{ range $prints | first 6}}
        <div class="col-sm-12 col-md-6 col-lg-4" id="postContent">
            
            <a href={{absURL .Params.Url}} style="text-decoration: none;">
                <div class="card text imagebox" style="border: none;">
                    {{ $altText := .Params.Description}}
                    {{ with resources.GetMatch .Params.Thumbnail}}
                        <img src="{{.Permalink}}" class="img" alt="{{$altText}}">
                    {{end}}
                    <p class="caption"> {{.Params.ListTitle}} </p>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
{{ end }}