{{ define "main"}}
    <div class="row postContainer">
    {{ range .Paginator.Pages }}
        <div class="col-sm-12 col-md-6 col-lg-4 gridcol" id="postContent">
            <a href={{absURL .Params.Url}} style="text-decoration: none;">
                <div class="card text imagebox box-masonry" style="border: none;">
                    {{ $altText := .Params.Description}}
                    {{ with resources.GetMatch .Params.Thumbnail}}
                        <img src="{{.Permalink}}" class="img box-masonry-image" alt="{{$altText}}">
                    {{end}}
                    <p class="caption"> {{.Params.ListTitle}} </p>
                </div>
            </a>
        </div>
    {{end}}
    </div>
    <div id="pageNav">
        {{  template "_internal/pagination.html" . }} <!-- customise the amount of posts on a page through paginate: x in config file -->
    </div>
    
{{ end }}

