{{ define "main"}}
    <div class="row" id="postContainer">
    {{ range .Pages }}
        <div class="col-sm-12 col-md-6 col-lg-4" id="postContent">
            <a href={{absURL .Params.Url}} style="text-decoration: none;">
                <div class="card text imagebox box-masonry" style="border: none;">
                    {{ with resources.GetMatch .Params.Thumbnail}}
                        <img src="{{.Permalink}}" class="img box-masonry-image" alt="">
                    {{end}}
                    <p class="caption"> {{.Params.ListTitle}} </p>
                </div>
            </a>
        </div>
    {{end}}
    </div>
{{ end }}

