{{ define "main" }}
{{ if ne .Title "About"}}
  
<div class="row" id="postcard">
  <div class="col-sm 12 col-md-12 col-lg-12 text-center" style="padding-bottom: 4px;">
      <h1>{{ .Params.Title }}</h1>
  </div>
  <br><br>
  <div class="col-sm 12 col-md-12 col-lg-12 postContainerHome" style="padding-bottom: 4px;">
    {{ with resources.GetMatch .Params.Coverimage}}
      <img src="{{.Permalink}}" class="img" alt="news">
    {{end}}
  </div>
  <div class="text-center">
    <h6 style="font-style: italic;">{{ .Params.Description}}</h6>
  </div>
  
</div>
<div class="row justify-content-center text-center">
  <div class="col-sm 12 col-md-7 col-lg-7" id="content" >
    <br>
    {{.Content}}
  </div>
    <!--{{ partial "partials/related.html" . }}-->
</div>


{{ end }}
{{ if eq .Title "About"}}
    <div class="row justify-content-center text-center" id="content">
      <div class="col-sm 12 col-md-7 col-lg-7" id="aboutPage">
        {{.Content}}
      </div>
    </div>
{{ end }}
{{ end }}
    