<footer class="text-center text-lg-start bg-white text-muted">

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    <div style="padding-top: 6px; padding-bottom: 14px;">
      {{ $url := .Site.Params.instagram}}
      <a href="{{$url}}" class="me-4 link-secondary">
        {{ with resources.GetMatch "images/icons/camera_instagram_social media_instagram logo_icon.svg"}}
          <img src="{{.Permalink}}" width="40" class="social-icons" alt="Instagram Icon">
        {{end}}
      </a>
      {{ $url := .Site.Params.linkedin }}
      <a href="{{$url}}" class="me-4 link-secondary">
        {{ with resources.GetMatch "images/icons/linkedin_network_social network_linkedin logo_icon.svg"}}
          <img src="{{.Permalink}}" width="40"  class="social-icons" alt="Linkedin Icon">
        {{end}}
      </a>
    </div>
    {{ $footerMessage := .Site.Params.footerMessage}}
    {{ $footerMessage }}
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->